body{
    background-color: rgb(155, 185, 241);
    grid-template-areas: 
    "cabeca, cabeca, cabeca"
    "secun, princip, princip"
    "rodap, rodap, rodap";
    grid-template-columns: auto, auto, auto;
    grid-template-rows: auto, auto, auto;

}
header{
    background-color: rgb(37, 37, 255);
    grid-area: cabeca;
}
aside{
    background-color: dodgerblue;
    grid-area: secun;
}
main{
    background-color: rgb(195, 243, 255);
    grid-area: princip;
}
footer{
    background-color: rgb(41, 119, 150);
    grid-area: rodap;
}
@media screen and(min-width:800px) {
    body{
        grid-template-areas:
        "cabeca"
        "secun"
        "princip"
        "rodap";
        grid-template-columns: auto;
    }
}